.progressbar {
    flex: 2;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.progressbar .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.progressbar .title{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.progressbar .bottom{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.featuredChart{
    height: 100px;
    width: 100px;
}

.progressbar .amount{
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.progressbar .desc{
    font-weight: 300;
    font-size: 12px;
    color:gray;
    text-align: center;
}

.progressbar .summary{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary .item{
    text-align: center;
}

.summary .itemTitle {
    font-size: 14px;
    color: gray;
}

.summary .itemResult{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.summary .resultAmount {
    display: flex;
    align-items: center;
}
